@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    Try again later or contact support if the problem persists.
    <a href="/">Return home</a>.
    <br />
    <small>Request ID: @System.Diagnostics.Activity.Current?.Id</small>
    <br />
    <small>Trace Identifier: @HttpContext.TraceIdentifier</small>
</p>
