<nav class="nav-menu">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink href="/counter">Counter</NavLink>
        </li>
    </ul>
</nav>
